.login-container {
  padding: 20px;
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  .actions {
    margin-top: 30px;
  }
}
